main {
    grid-area: main;
    width: auto;
    height: 77.5vh;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 2fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

main section {
    width: 85%;
    height: 90%;
    background-image: linear-gradient(to bottom, lightgray, var(--dim-gray));
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    display: flex;
    flex-flow: column wrap;
}

main section:nth-child(2), main section:nth-child(3), main section:nth-child(4) {
   justify-content: space-between;
}

main section:first-child {
    grid-column: 1 / 4;
}

main section:first-child h2 {
    margin-bottom: 0.5rem;
}

main section:first-child ul {
    margin-top: 1rem;
}

main section div {
    display: flex;
    flex-flow: column wrap;
}

main section div article {
    padding: 0.2rem 0;
    margin-bottom: 1rem;
    border: 1px solid black;
}

/* GAME WALL */

main figure {
    padding: 0.5rem;
    background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(123, 123, 123));
    border: 2px solid black;
    box-shadow: 0px 0px 10px white;
}

main figure:hover {
   transform: scale(1.05);
}

main figure img {
    width: 200px;
    aspect-ratio: 2 / 3;
}