#container {
    grid-template-areas: 
    'header'
    'main'
    'footer';
}

main {
    grid-area: main;
    width: 100%;
    height: 77.5vh;
    background-color: rgba(0, 255, 255, 0.158);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    text-align: center;
}

main section {
    width: 40%;
    height: 80%;
    background-color: rgba(137, 43, 226, 0.267);
}