@font-face {
    font-family: Quantify;
    src: url(../fonts/Quantify.ttf);
}

/* UNIVERSAL STYLING */

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

body {
    background-image: radial-gradient(to bottom right, rgb(48, 48, 48), rgb(37, 37, 37));
}

h1, h2, h3, h4, h5 {
    font-family: Arial, sans-serif;
}

h1 {font-size: 2.5rem}
h2 {font-size: 2rem}
h3 {font-size: 1.5rem}
h4 {font-size: 1rem}
h5 {font-size: 0.5rem}

a {
    color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
    list-style-type: none;
}

#container {
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'aside main main main main main'
        'footer footer footer footer footer footer'
    ;
    /*background-image: linear-gradient(to right, var(--zomp-2), white 70%, var(--amaranth-purple));*/
    /*box-shadow: -5px 0px 20px var(--teal), 5px 0px 20px crimson;*/
}

/* HEADER */

header {
    grid-area: header;
    background-image: linear-gradient(90deg,var(--teal) 0%, crimson);
    width: 100%;
    height: 7.5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header a img {
    max-width: 75%;
    height: auto;
    margin-top: 0.75rem;
}

header a i {
    font-size: 1.5rem;
    margin-right: 2rem;
}

/* ASIDE */

aside {
    grid-area: aside;
    width: auto;
    height: 77.5vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
}

aside ul li ul section {
    width: 15rem;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.2rem;
}

/*aside ul li ul {
    display: none;
}*/

aside ul li:first-of-type ul section:first-of-type {
    flex-flow: column wrap;
}

.menuButton {
    width: 15rem;
    height: 1.5rem;
    margin: 1rem 0rem;
}

.button {
    width: 5rem;
    height: 4rem;
}

aside ul li:first-of-type ul section:first-of-type li button {
    width: 7.5rem;
    height: 1.5rem;
}

/* FOOTER */

footer {
    grid-area: footer;
    background-color: rgb(126, 126, 126);
    color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

footer div {
    display: flex;
    flex-flow: row nowrap;
}

footer div h4 {
    margin-right: 2rem;
}