@font-face {
    font-family: Quantify;
    src: url(../fonts/Quantify.ttf);
}

/* UNIVERSAL STYLING */

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

/*body {
    background-color: gray;
}*/

h1, h2, h3, h4, h5 {
    font-family: Quantify, Arial, sans-serif;
}

h1 {font-size: 2.5rem}
h2 {font-size: 2rem}
h3 {font-size: 1.5rem}
h4 {font-size: 1rem}
h5 {font-size: 0.5rem}

a {
    color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
    list-style-type: none;
}

#container {
    width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
        'header header header header'
        'aside main main main'
        'footer footer footer footer'
    ;
}

/* HEADER */

header {
    grid-area: header;
    background-color: rgba(220, 20, 60, 0.397);
    width: 100%;
    height: 7.5vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

header a img {
    max-width: 100%;
    height: auto;
}

header a i {
    font-size: 2rem;
}

/* ASIDE */

aside {
    grid-area: aside;
    width: auto;
    height: 77.5vh;
    background-color: rgba(20, 107, 220, 0.37);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/*aside ul li ul {
    display: none;
}*/

/* FOOTER */

footer {
    grid-area: footer;
    width: 100%;
    height: 15vh;
    background-color: rgba(150, 220, 20, 0.397);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
}

footer div {
    display: flex;
    flex-flow: row nowrap;
}

footer div h4 {
    margin-right: 2rem;
}