@font-face {
  font-family: Quantify;
  src: url(../fonts/Quantify.ttf);
}

/* UNIVERSAL STYLING */

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

body {
  background-image: radial-gradient(rgb(76, 76, 76), rgb(25, 25, 25));
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.5rem;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#container {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "aside main main main main main"
    "footer footer footer footer footer footer";
  /*background-image: linear-gradient(to right, var(--zomp-2), white 70%, var(--amaranth-purple));*/
  /*box-shadow: -5px 0px 20px var(--teal), 5px 0px 20px crimson;*/
}

/* HEADER */

header {
  grid-area: header;
  background-image: linear-gradient(90deg, var(--teal) 0%, crimson);
  width: 100%;
  height: 7.5vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header div:nth-child(2) {
  margin-left: 10rem;
}

header > div:last-child {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 3rem;
}

header div a img {
  max-width: 50%;
  height: auto;
}

header div a i {
  font-size: 1.5rem;
}

#logout {
  background-color: white;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
}

#logout:hover {
  background-color: var(--teal);
}

/* ASIDE */

aside {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

nav {
  text-align: center;
  margin-top: 2rem;
}

.menu > .menu-item {
  margin-bottom: 10px;
  
}

.menuButton {
  font-weight: bold;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  padding: 10px;
  width: 150px;
}

.submenu {
  display: none;
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
}

.submenuButton {
  background-color: #f0f0f0;
  border: none;
  padding: 5px;
  width: 130px;
  cursor: pointer;
}

.menu-item.active .submenu {
  display: block;
  margin-right: 15px;
}

/* PLATFORM */

.submenuButton:hover {
  background-color: var(--teal);
}

.submenuButton.active {
  background-color: var(--crimson);
}

/* GENRES */
/*
.horror:hover {
  background-color: rgb(255, 0, 0);
}

.horror.active {
  background-color: rgb(253, 85, 85);
}

.action:hover {
  background-color: yellow;
}

.action.active {
  background-color: rgb(255, 255, 79);
}

.adventure:hover {
  background-color: rgba(255, 132, 0, 0.866);
}

.adventure.active {
  background-color: rgb(255, 152, 50);
}

.rpg:hover {
  background-color: purple;
}

.rpg.active {
  background-color: rgb(131, 43, 131);
}

/*
.strategy:hover {

}

.strategy.active {
  
}

.shooter:hover {

}

.shooter.active {
  
}

.sports:hover {

}

.sports.active {
  
}

.fighting:hover {

}

.fighting.active {
  
}

.racing:hover {

}

.racing.active {
  
}

.platform:hover {

}

.platform.active {
  
}

.puzzle:hover {

}

.puzzle.active {
  
}*/

/* FOOTER */

footer {
  grid-area: footer;
  width: 100%;
  height: 15vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  background-image: linear-gradient(90deg, var(--teal) 0%, crimson);
}

footer div {
  display: flex;
  flex-flow: row nowrap;
}

footer div h4 {
  margin-right: 2rem;
}
