:root {
    --teal: #07d9a8ff;
    --mint: #1fc39cff;
    --zomp: #36ad90ff;
    --zomp-2: #4e9784ff;
    --hookers-green: #658178ff;
    --dim-gray: #7d6c6cff;
    --rose-taupe: #945660ff;
    --amaranth-purple: #ac4054ff;
    --cardinal: #c32a48ff;
    --crimson: #db143cff;
}